@import "../../../../variables.scss";

.banner {
    background: $primary-color;
    color: $white-color;
    width: 100%;

    &__content {
        @include flex(row, center, center, 0.4rem);
        padding: 12px;
    }

    &__button {
        color: $secondary-color;
        font-weight: 600;
    }
}