@import "../../../../variables.scss";

.banner {
    background: linear-gradient(90deg, rgba(228, 84, 21, 1) 44%, rgba(248, 193, 1, 1) 100%);
    color: $white-color;
    width: 100%;

    &__content {
        @include flex(row, center, center, 0.4rem);
        padding: 12px;
    }

    &__button {
        color: $secondary-color;
        font-weight: 600;
    }
}