@import "../../../../variables.scss";

.product-loading {
    position: relative;
    height: 100%;
    width: 100%;
}

.product {
    @include flex(row, center, center);

    width: 100%;
    background: $white-color;
    padding: 1rem;
    box-shadow: $primary-box-shadow;
    position: relative;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__image {
        @include flex(row, center, center);

        flex: 1;

        @media screen and (max-width: 768px) {
            flex: 0;
        }


        img {
            width: 197px;

            @media screen and (max-width: 768px) {
                width: 100px;
            }

        }
    }

    &__details {
        @include flex(column, center, flex-start, 0.6rem);

        flex: 2;

        @media screen and (max-width: 768px) {
            flex: 1;
        }
    }

    &__title {
        color: $primary-color;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }

    &__metadata {
        @include flex(column, flex-start, flex-start, 0.4rem);

        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 0.5rem;
        }

    }

    &__rating {
        @include flex(row, flex-start, center, 0.8rem);
    }

    &__desc {
        line-height: 1.5;

        @media screen and (max-width: 768px) {
            font-size: 0.5rem;
        }
    }
}

.comments {
    @include flex(column, flex-start, flex-start, 0.4rem);

    @media screen and (max-width: 768px) {
        font-size: 0.5rem;
    }

    &__list {
        @include flex(column, flex-start, flex-start, 0.4rem);

        list-style: none;
    }
}