<header class="header">
    <app-sale-banner></app-sale-banner>
    <div class="header__container">
        <img [ngSrc]="logoImagePath" alt="logo-image" class="header__logo" height="150" width="100" priority>
        <h1 class="header__title">
            <span class="header__mypay">MyPay </span>
            <span class="header__store">Store</span>
        </h1>
        <div class="header__rightnav">
            <div *ngIf="isLogged && !isLoginRoute" class="header__user">
                <div class="header__tooltip" (click)="toggleLogoutMenu()">
                    <div class="header__avatar" [style.background-color]="randomColor">
                        <span class="header__initials">{{ username?.charAt(0) }}</span>
                    </div>
                    <div *ngIf="showLogoutMenu" class="header__userdetails">
                        <p class="header__username">{{ username }}</p>
                        <app-button buttonText="Logout" (onClick)="logOut()"></app-button>
                    </div>
                </div>
            </div>
            <app-button *ngIf="!isLoginRoute && !isLogged" buttonText="Login" (onClick)="redirectLogin()"></app-button>
            <div class="cartWrapper">
                <fa-icon class="header__icon" routerLink="cart" [icon]="shoppingCartIcon"></fa-icon>
                <span class="cartWrapper__badge">{{cartValue}}</span>
            </div>
        </div>
    </div>
</header>