@import "../../.../../../variables.scss";

.header {
    &__container {
        @include flex(row, space-between, center);
        padding: 0.5rem 1rem;
        box-shadow: $primary-box-shadow;
        background: $white-color;
    }

    &__logo {
        width: 150px;
        height: auto;

        @media screen and (max-width: 768px) {
            width: 100px;
        }
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__mypay {
        color: $primary-color;
    }

    &__store {
        color: $secondary-color;
    }

    &__rightnav {
        @include flex(row, center, center, 1rem);

        @media screen and (max-width: 768px) {
            gap: 0.5rem;
        }
    }

    &__icon {
        color: $secondary-color;
        font-size: 2.4rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.6rem;
        }
    }
}

.cartWrapper {
    position: relative;

    &__badge {
        @include flex(row, center, center);

        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: $primary-color;
        color: $white-color;
        font-size: 1rem;
        font-weight: 700;
    }
}