@import "../../../../variables.scss";

.login {
    max-width: 400px;
    background-color: $white-color;
    box-shadow: $primary-box-shadow;
    padding: 0.8rem;
    margin: 2.5rem auto;
    border-radius: 5px;

    &__title {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
        color: $primary-color;
    }

    &__formgroup {
        @include flex(column, flex-start, flex-start, 0.4rem);

        margin-bottom: 1.5rem;

        label {
            display: block;
            font-weight: 600;
            font-size: 1.1rem;
            color: $primary-color;
        }

        input {
            width: 100%;
            padding: 0.6rem;
            border-radius: 5px;
            border: 2px solid $background-color;
            outline: none;

            &:focus {
                outline: none;
                border-color: $primary-color;
            }
        }
    }

    &__error-message {
        color: $error-color;
        font-weight: 500;
    }

    &__buttons {
        @include flex(column, center, flex-start, 0.4rem);
    }

    &__message {
        font-size: 1rem;
        color: $primary-color;
        font-weight: 600;
    }

    &__button {
        text-decoration: none;
        background-color: $primary-color;
        color: $white-color;
        font-weight: 700;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        text-align: center;

    }

    &__button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}