@import "../../../variables.scss";

.footer {
    background: linear-gradient(90deg, rgba(228, 84, 21, 1) 44%, rgba(248, 193, 1, 1) 100%);
    color: $white-color;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;

    &__content {
        @include flex(row, space-between, center);
        margin: 0 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }


    }

    &__section {
        @include flex(column, flex-start, center, 0.4rem);

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &__links {
        @include flex(row, flex-start, center, 3rem);
        list-style: none;
    }

    &__link {
        color: $white-color;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }

    &__icons {
        @include flex(row, center, center, 2rem);

        color: $white-color;
    }

    &__icon {
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }
}