// Variables

$primary-color: #e45415;
$white-color: #fff;
$secondary-color: #f9E401;

// Gradients
$primary-gradient: linear-gradient(345deg, #e45415 0%, #e45415 100%);
$hover-gradient: linear-gradient(95deg, #d76e3b 0%, #e45415 100%);
$background-gradient: linear-gradient(90deg, rgba(228, 84, 21, 1) 44%, rgba(248, 193, 1, 1) 100%);

// Box Shadows

$primary-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;