<section class="cart">
    <app-custom-snackbar [message]="message" [isSnackbarOpen]="isSnackbarOpen"></app-custom-snackbar>
    <app-payement-modal *ngIf="modalState" [cartItems]="cartItems" [total]="totalCartAmount" (onClose)="closeModal()"
        (onPayement)="payNow()"></app-payement-modal>
    <div *ngIf="!cartItems.length" class="cart__empty">
        <fa-icon class="cart__icon" [icon]="cartIcon"></fa-icon>
        <span class="cart__text">Your cart is empty</span>
    </div>
    <div class="cart__list">
        <app-cart-item *ngFor="let product of cartItems" [product]="product" (addtoCart)="addToCart(product.id)"
            (onClick)="deleteItem(product.id)"></app-cart-item>
    </div>
    <div *ngIf="cartItems.length" class="cart__checkout checkout">
        <div class="checkout__total">
            <div class="checkout__item item" *ngFor="let item of cartItems; index as i">
                <div class="item__name">{{ i+1 +') ' + item.title }}</div>
                <div class="item__quantity">{{ item.quantity }}</div>
                <div class="item__price">{{ item.price | currency }}</div>
                <div class="item__total">{{ item.price * (item.quantity ? item.quantity : 0) | currency }}</div>
            </div>
        </div>
        <div class="checkout__totalValue">
            <span>Grand Total:</span>
            <span>{{ totalCartAmount | currency:'USD':'symbol'}}</span>
        </div>
        <div class="checkout__buttons">
            <app-button class="checkout__button" (onClick)="openModal()" buttonText="Checkout"></app-button>
            <app-button *ngIf="!isLogged" class="checkout__button" routerLink="/login" buttonText="Login"></app-button>
        </div>
    </div>
</section>